<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HospitalManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.admin.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.user.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpecialist</display-name>
    <servlet-name>AddSpecialist</servlet-name>
    <servlet-class>com.admin.servlet.AddSpecialist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpecialist</servlet-name>
    <url-pattern>/AddSpecialist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctor</display-name>
    <servlet-name>AddDoctor</servlet-name>
    <servlet-class>com.admin.servlet.AddDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctor</servlet-name>
    <url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.admin.servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoctor</display-name>
    <servlet-name>DeleteDoctor</servlet-name>
    <servlet-class>com.admin.servlet.DeleteDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctor</servlet-name>
    <url-pattern>/DeleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctor</display-name>
    <servlet-name>UpdateDoctor</servlet-name>
    <servlet-class>com.admin.servlet.UpdateDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctor</servlet-name>
    <url-pattern>/UpdateDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentServlet</display-name>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>com.user.servlet.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.user.servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.user.servlet.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.user.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorPasswordChange</display-name>
    <servlet-name>DoctorPasswordChange</servlet-name>
    <servlet-class>com.doctor.servlet.DoctorPasswordChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorPasswordChange</servlet-name>
    <url-pattern>/DoctorPasswordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLogin</display-name>
    <servlet-name>DoctorLogin</servlet-name>
    <servlet-class>com.doctor.servlet.DoctorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogin</servlet-name>
    <url-pattern>/DoctorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLogout</display-name>
    <servlet-name>DoctorLogout</servlet-name>
    <servlet-class>com.doctor.servlet.DoctorLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogout</servlet-name>
    <url-pattern>/DoctorLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>com.doctor.servlet.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatus</display-name>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>com.doctor.servlet.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
</web-app>